.title {
  background-color: white;
  width:60px;
}
.test {
  width:60px;
}
.empty {
  width:60px;
  color: white;
  background-color: white;
}
.centered {
  margin: auto;
  width: 80%;
}
h3 {
  font-family: sans-serif;
}